<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Shuffler</title>
    <noscript>Please enable JavaScript to use this application</noscript>
    <link type="text/css" href="static/styles.css" rel="stylesheet" />
    <script defer src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script defer type="text/javascript" src="static/script.js"></script>
</head>
<body>
    <h1>Team Shuffler</h1>

    <table id="players-table">
        <thead>
            <tr>
                <th>Role</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <!-- Player rows will be inserted here -->
        </tbody>
    </table>

    <button id="shuffle-button">Shuffle Teams</button>
    <div id="shuffled-teams-container" class="hidden">
        <h2>Shuffled Teams</h2>
        <table id="shuffled-teams-table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Striker</th>
                    <th>Defender</th>
                </tr>
            </thead>
            <tbody>
                <!-- Shuffled team rows will be inserted here -->
            </tbody>
        </table>
    </div>
    
    <div>
        <form id="register-form">
            <select name="role">
                <option value="Striker" selected>Striker</option>
                <option value="Defender">Defender</option>
            </select>
            <input type="text" id="name" name="name">
            <button onclick="reloadPage()"  hx-post="/register" hx-target="#players-table tbody" hx-swap="afterend" _="on htmx:afterSwap htmx-logger">Add New Player</button>
        </form>
    </div>

    <button id="show-fixtures-button">Show Fixtures</button>
    <div id="fixtures-container" class="hidden">
        <h2>Fixtures</h2>
        <table id="fixtures-table">
            <thead>
                <tr>
                    <th>Week</th>
                    <th>Games</th>
                </tr>
            </thead>
            <tbody>
                <!-- Fixture rows will be inserted here -->
            </tbody>
        </table>
        <button onclick="hideFixtures()">Hide Fixtures</button>
    </div>
</body>
</html>
